@import "variables";
@import "components";
@import "header";
@import "main";
// General Settings

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: $secondary-font;
  color: $gray-color;
  background-color: $light-color;
}
main {
  overflow: hidden;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
}
section {
  padding: 8rem 0;
  @include media(medium) {
    padding: 4rem 0;
  }
  @include media(small) {
    padding: 2rem 0;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $primary-font;
  color: $primary-color;
  font-weight: 300;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
h1 {
  font-size: 7rem;
  @include media(large) {
    font-size: 5rem;
  }
}
h2 {
  font-size: 5rem;
  color: $light-color;
  @include media(large) {
    font-size: 3.6 rem;
  }
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
  color: $light-color;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $primary-font;
  color: $light-color;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
